<nav class="nav-main">
  <div class="nav-items">
    <a href="" class="nav-links">
      <img
        src="./../../../assets/open-menu.svg"
        alt="menu icon"
        class="menu-icon"
      />All
    </a>
    <a href="" class="nav-links">Amazon miniTV</a>
    <a href="" class="nav-links">Best Sellers</a>
    <a href="" class="nav-links">Mobiles</a>
    <a href="" class="nav-links">Customer Service</a>
    <a href="" class="nav-links">Today's Deal</a>
    <a href="" class="nav-links">Electronics</a>
    <a href="" class="nav-links"
      >Prime
      <img
        src="./../../../assets/arrow-down.svg"
        alt="arrow-down"
        class="arrow-down"
      />
    </a>
    <a href="" class="nav-links">Amazon Pay</a>
  </div>
  <div class="prime">
    <img src="./../../../assets/prime_banner.jpg" alt="prime banner" />
  </div>
</nav>
<main>
  <div class="carousel">
    <app-carousel [slides]="slides"></app-carousel>
  </div>
  <div class="products-container">
    <div class="sale-miniTV-section">
      <div class="sale-section grid grid-4">
        <div class="card">
          <p class="card-header">Pick up where you left off</p>
          <div class="grid grid-2">
            <div class="card-items">
              <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
              <p>Fabutre Fleece Warm Bedsheet</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/bedsheet2.jpg" alt="bedsheet" />
              <p>Maan Traders Woolen Bedsheet</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/bedsheet3.jpg" alt="blanket" />
              <p>VA1179 Yetli Warm Blanket</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/bedsheet2.jpg" alt="blanket" />
              <p>Comfytouch Microfiber Blanket</p>
            </div>
          </div>
          <a href="">See more</a>
        </div>
        <div class="card">
          <p class="card-header">Keep shopping for</p>
          <div class="grid grid-2">
            <div class="card-items">
              <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
              <p>Flat bed sheets</p>
              <p>3 viewed</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/waterbottle.jpg" alt="water bottle" />
              <p>Water bottles</p>
              <p>1 viewed</p>
            </div>
            <div class="card-items">
              <img
                src="./../../../assets/badminton.jpg"
                alt="badminton racquets"
              />
              <p>Badminton racquets</p>
              <p>2 viewed</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/backpacks.jpg" alt="backpacks" />
              <p>Backpacks</p>
              <p>5 viewed</p>
            </div>
          </div>
          <a href="">View your browsing history</a>
        </div>
        <div class="card">
          <p class="card-header">Home appliances | Up to 50% off</p>
          <div class="grid grid-2">
            <div class="card-items">
              <img src="./../../../assets/Appliances-ac.jpg" alt="appliances" />
              <p>Air conditioners</p>
            </div>
            <div class="card-items">
              <img
                src="./../../../assets/Appliances-refrigerators.jpg"
                alt="appliances"
              />
              <p>Refrigerators</p>
            </div>
            <div class="card-items">
              <img
                src="./../../../assets/Appliances-microwaves.jpg"
                alt="appliances"
              />
              <p>Microwaves</p>
            </div>
            <div class="card-items">
              <img
                src="./../../../assets/Appliances-washing-machine.jpg"
                alt="appliances"
              />
              <p>Washing machine</p>
            </div>
          </div>
          <a href="">See more</a>
        </div>
        <div class="card transparent">
          <div class="sub-card">
            <p class="card-header">
              Sell on Amazon with 50% off on Selling fee
              <br />
              <span class="card-sub-text"><a href="">Register now</a></span>
            </p>
            <img
              src="./../../../assets/sell-on-amazon.jpg"
              alt="sell on amazon"
              class="sell-on-amazon"
            />
          </div>
          <div class="sub-card">
            <img src="./../../../assets/miniTV-show.jpg" alt="miniTv show" />
          </div>
        </div>
      </div>
      <div class="grid recommendation-section">
        <div class="card prime-card">
          <p class="prime-card-header-text">
            Prime Video: Recommended for you <br />
            <span class="prime-card-sub-text">F9: The Fast Saga</span>
          </p>
          <img
            src="./../../../assets/prime_video_banner1.jpg"
            alt="prime video banner"
            class="prime_video_banner"
          />
          <p class="prime-card-sub-text">Start watching on Prime Video</p>
        </div>
        <div class="card">
          <p class="card-header">Book in advance for Holi</p>
          <div class="grid grid-2">
            <div class="card-items">
              <img src="./../../../assets/Flight.jpg" alt="Flight" />
              <p>Get up to $2000 off on</p>
              <p>flights</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/Train.jpg" alt="Train" />
              <p>zero payment gateway</p>
              <p>fees on trains</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/Bus.jpg" alt="Bus" />
              <p>Guranteed rewards on</p>
              <p>bus tickets</p>
            </div>
            <div class="card-items">
              <img src="./../../../assets/Accessory.jpg" alt="Accessory" />
              <p>Products for your</p>
              <p>travel needs</p>
            </div>
          </div>
          <a href="">See more</a>
        </div>
        <div class="card">
          <p class="card-header">Up to 70% 0ff | Clearance Store</p>
          <img
            src="./../../../assets/Clearance_store_Desktop.jpg"
            alt="clearance store"
            class="clearance-store-img"
          />
          <a href="">See more</a>
        </div>
      </div>
    </div>
    <div class="suggestions-container grid">
      <div class="card">
        <p style="font-size: 24px; font-weight: 500">
          Today's Deals
          <span
            ><a
              href=""
              style="margin-left: 15px; bottom: unset; margin-top: 10px"
              >See all deals</a
            ></span
          >
        </p>
        <div class="items-container">
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/vivo_mobile.jpg" alt="vivo mobiles" />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 30% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Best Offers on Vivo Smartphones</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/iqoo_mobile.jpg" alt="1qoo mobiles" />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 14% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">iQOO Neo 7 | Starting 3167/month</p>
          </div>

          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/samsung_mobile.jpg"
                alt="samsung mobile"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 26% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Samsung Galaxy M04</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/desktop.jpg"
                alt="desktop computers"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 39% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">High Performance Desktop Computers</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/lava_mobile.jpg" alt="lava mobile" />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 27% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">
              Lava Blaze 5G (6GB) available at Rs. 11,999
            </p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/home_essentials.jpeg"
                alt="home essentials"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 72% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Home Improvement Essentials</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/VGuard_products.jpg"
                alt="V-Guard Products"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 46% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Best Offers from V-Guard Products</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/storage_devices.jpg"
                alt="storage devices"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 69% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Upto 50% off on storage devices</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/digital_cams.jpg"
                alt="digital cameras"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 40% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">
              Newly launch Digitek Action Camera starting 5999
            </p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/smart_bulbs.jpg" alt="smart bulbs" />
            </div>
            <div class="chip">
              <span class="chip-label">Rs. 736 and under</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Best of Smart Bulbs</p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/amazon_kitchen_products.jpg"
                alt="amazon kitchen products"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 55% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">
              Kitchen Products Amazon Brands and More
            </p>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/comp_accessories.jpg"
                alt="computer accessories"
              />
            </div>
            <div class="chip">
              <span class="chip-label">Up to 69% off</span>
              <span class="chip-message">Deal of the day</span>
            </div>
            <p style="font-size: 13px">Upto 50% off on storage devices</p>
          </div>

          <!-- controls -->
          <button class="control prev">
            <span class="arrow left"></span>
          </button>
          <button class="control next">
            <span class="arrow right"></span>
          </button>
        </div>
      </div>
      <div class="card">
        <p style="font-size: 24px; font-weight: 500">
          Related to items you've viewed
          <span
            ><a
              href=""
              style="margin-left: 15px; bottom: unset; margin-top: 10px"
              >See more</a
            ></span
          >
        </p>
        <div class="items-container">
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/vivo_mobile.jpg" alt="vivo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/iqoo_mobile.jpg" alt="1qoo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/samsung_mobile.jpg"
                alt="samsung mobile"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/desktop.jpg"
                alt="desktop computers"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/lava_mobile.jpg" alt="lava mobile" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/home_essentials.jpeg"
                alt="home essentials"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/VGuard_products.jpg"
                alt="V-Guard Products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/storage_devices.jpg"
                alt="storage devices"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/digital_cams.jpg"
                alt="digital cameras"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/smart_bulbs.jpg" alt="smart bulbs" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/amazon_kitchen_products.jpg"
                alt="amazon kitchen products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/comp_accessories.jpg"
                alt="computer accessories"
              />
            </div>
          </div>

          <!-- controls -->
          <button class="control prev">
            <span class="arrow left"></span>
          </button>
          <button class="control next">
            <span class="arrow right"></span>
          </button>
        </div>
      </div>
      <div class="card">
        <p style="font-size: 24px; font-weight: 500">
          More items to consider
          <span
            ><a
              href=""
              style="margin-left: 15px; bottom: unset; margin-top: 10px"
              >See more</a
            ></span
          >
        </p>
        <div class="items-container">
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/vivo_mobile.jpg" alt="vivo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/iqoo_mobile.jpg" alt="1qoo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/samsung_mobile.jpg"
                alt="samsung mobile"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/desktop.jpg"
                alt="desktop computers"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/lava_mobile.jpg" alt="lava mobile" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/home_essentials.jpeg"
                alt="home essentials"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/VGuard_products.jpg"
                alt="V-Guard Products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/storage_devices.jpg"
                alt="storage devices"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/digital_cams.jpg"
                alt="digital cameras"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/smart_bulbs.jpg" alt="smart bulbs" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/amazon_kitchen_products.jpg"
                alt="amazon kitchen products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/comp_accessories.jpg"
                alt="computer accessories"
              />
            </div>
          </div>

          <!-- controls -->
          <button class="control prev">
            <span class="arrow left"></span>
          </button>
          <button class="control next">
            <span class="arrow right"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="sale-section grid grid-4">
      <div class="card">
        <p class="card-header">Pick up where you left off</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
            <p>Fabutre Fleece Warm Bedsheet</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet2.jpg" alt="bedsheet" />
            <p>Maan Traders Woolen Bedsheet</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet3.jpg" alt="blanket" />
            <p>VA1179 Yetli Warm Blanket</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet2.jpg" alt="blanket" />
            <p>Comfytouch Microfiber Blanket</p>
          </div>
        </div>
        <a href="">See more</a>
      </div>
      <div class="card">
        <p class="card-header">Keep shopping for</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
            <p>Flat bed sheets</p>
            <p>3 viewed</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/waterbottle.jpg" alt="water bottle" />
            <p>Water bottles</p>
            <p>1 viewed</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/badminton.jpg"
              alt="badminton racquets"
            />
            <p>Badminton racquets</p>
            <p>2 viewed</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/backpacks.jpg" alt="backpacks" />
            <p>Backpacks</p>
            <p>5 viewed</p>
          </div>
        </div>
        <a href="">View your browsing history</a>
      </div>
      <div class="card">
        <p class="card-header">Home appliances | Up to 50% off</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/Appliances-ac.jpg" alt="appliances" />
            <p>Air conditioners</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-refrigerators.jpg"
              alt="appliances"
            />
            <p>Refrigerators</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-microwaves.jpg"
              alt="appliances"
            />
            <p>Microwaves</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-washing-machine.jpg"
              alt="appliances"
            />
            <p>Washing machine</p>
          </div>
        </div>
        <a href="">See more</a>
      </div>
      <div class="card transparent">
        <div class="sub-card">
          <p class="card-header">
            Sell on Amazon with 50% off on Selling fee
            <br />
            <span class="card-sub-text"><a href="">Register now</a></span>
          </p>
          <img
            src="./../../../assets/sell-on-amazon.jpg"
            alt="sell on amazon"
            class="sell-on-amazon"
          />
        </div>
        <div class="sub-card">
          <img src="./../../../assets/miniTV-show.jpg" alt="miniTv show" />
        </div>
      </div>
    </div>

    <div class="suggestions-container grid">
      <div class="card">
        <p style="font-size: 24px; font-weight: 500">
          Related to items you've viewed
          <span
            ><a
              href=""
              style="margin-left: 15px; bottom: unset; margin-top: 10px"
              >See more</a
            ></span
          >
        </p>
        <div class="items-container">
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/vivo_mobile.jpg" alt="vivo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/iqoo_mobile.jpg" alt="1qoo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/samsung_mobile.jpg"
                alt="samsung mobile"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/desktop.jpg"
                alt="desktop computers"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/lava_mobile.jpg" alt="lava mobile" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/home_essentials.jpeg"
                alt="home essentials"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/VGuard_products.jpg"
                alt="V-Guard Products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/storage_devices.jpg"
                alt="storage devices"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/digital_cams.jpg"
                alt="digital cameras"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/smart_bulbs.jpg" alt="smart bulbs" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/amazon_kitchen_products.jpg"
                alt="amazon kitchen products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/comp_accessories.jpg"
                alt="computer accessories"
              />
            </div>
          </div>

          <!-- controls -->
          <button class="control prev">
            <span class="arrow left"></span>
          </button>
          <button class="control next">
            <span class="arrow right"></span>
          </button>
        </div>
      </div>
      <div class="card">
        <p style="font-size: 24px; font-weight: 500">
          More items to consider
          <span
            ><a
              href=""
              style="margin-left: 15px; bottom: unset; margin-top: 10px"
              >See more</a
            ></span
          >
        </p>
        <div class="items-container">
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/vivo_mobile.jpg" alt="vivo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/iqoo_mobile.jpg" alt="1qoo mobiles" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/samsung_mobile.jpg"
                alt="samsung mobile"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/desktop.jpg"
                alt="desktop computers"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/lava_mobile.jpg" alt="lava mobile" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/home_essentials.jpeg"
                alt="home essentials"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/VGuard_products.jpg"
                alt="V-Guard Products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/storage_devices.jpg"
                alt="storage devices"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/digital_cams.jpg"
                alt="digital cameras"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img src="./../../../assets/smart_bulbs.jpg" alt="smart bulbs" />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/amazon_kitchen_products.jpg"
                alt="amazon kitchen products"
              />
            </div>
          </div>
          <div class="card-items">
            <div class="img-bcg">
              <img
                src="./../../../assets/comp_accessories.jpg"
                alt="computer accessories"
              />
            </div>
          </div>

          <!-- controls -->
          <button class="control prev">
            <span class="arrow left"></span>
          </button>
          <button class="control next">
            <span class="arrow right"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="sponsor">
      <div class="sponsored-card grid">
        <div class="sponsorBanners">
          <img
            src="./../../../assets/sponsor_logo.webp"
            alt="sponsor logo"
            style="height: 44px"
          />
          <p class="sponsor-headline">Crafted With Excellence</p>
        </div>
        <div class="sponsor-product-image">
          <img
            src="./../../../assets/sponsor_product_image.webp"
            alt="sponsor product image"
          />
        </div>
        <div class="sponsor-product-details">
          <p>Save 60%</p>
          <p class="sponsor-product-heading">
            iPhone Original 20W Charger Type C Adapter for iPhone 14/ 14 Plus/
            14 Pro/ 14 Pro Max, iPhone 13/13 Pro/13 Pro Max/13 Mini, 12/12 Mini/
            12 Pro Max, iPhone 11 Series with PD 3.0, BIS Certified| USB-C 20
            Watt Fast Charging Adopter-White
          </p>
          <div class="ratings grid">
            <div class="stars">
              <img
                src="./../../../assets/star-fullfill.svg"
                alt="filled star"
              />
              <img
                src="./../../../assets/star-fullfill.svg"
                alt="filled star"
              />
              <img
                src="./../../../assets/star-fullfill.svg"
                alt="filled star"
              />
              <img
                src="./../../../assets/star-fullfill.svg"
                alt="filled star"
              />
              <img
                src="./../../../assets/star-halffill.svg"
                alt="half fill star"
              />
              <p>177</p>
            </div>
            <div class="sponsor-badge-text">Deal of the Day</div>
          </div>
          <div class="deal-price">
            <span class="price">
              <span class="currency">₹</span>
              <span class="price-text">
                <span class="price-whole"
                  >799<span class="price-decimal">00</span>
                </span>
              </span>
            </span>
            <span class="full-price"> ₹1,999.00 </span>
            <img
              src="./../../../assets/prime-logo.svg"
              alt="prime logo"
              class="prime-logo"
            />
          </div>
        </div>
      </div>
      <div class="feedback-text">
        Sponsored
        <img
          src="./../../../assets/info_icon.svg"
          alt="info icon"
          class="info-icon"
        />
      </div>
    </div>

    <div class="sale-section grid grid-4">
      <div class="card">
        <p class="card-header">Pick up where you left off</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
            <p>Fabutre Fleece Warm Bedsheet</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet2.jpg" alt="bedsheet" />
            <p>Maan Traders Woolen Bedsheet</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet3.jpg" alt="blanket" />
            <p>VA1179 Yetli Warm Blanket</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet2.jpg" alt="blanket" />
            <p>Comfytouch Microfiber Blanket</p>
          </div>
        </div>
        <a href="">See more</a>
      </div>
      <div class="card">
        <p class="card-header">Keep shopping for</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
            <p>Flat bed sheets</p>
            <p>3 viewed</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/waterbottle.jpg" alt="water bottle" />
            <p>Water bottles</p>
            <p>1 viewed</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/badminton.jpg"
              alt="badminton racquets"
            />
            <p>Badminton racquets</p>
            <p>2 viewed</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/backpacks.jpg" alt="backpacks" />
            <p>Backpacks</p>
            <p>5 viewed</p>
          </div>
        </div>
        <a href="">View your browsing history</a>
      </div>
      <div class="card">
        <p class="card-header">Home appliances | Up to 50% off</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/Appliances-ac.jpg" alt="appliances" />
            <p>Air conditioners</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-refrigerators.jpg"
              alt="appliances"
            />
            <p>Refrigerators</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-microwaves.jpg"
              alt="appliances"
            />
            <p>Microwaves</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-washing-machine.jpg"
              alt="appliances"
            />
            <p>Washing machine</p>
          </div>
        </div>
        <a href="">See more</a>
      </div>
      <div class="card transparent">
        <div class="sub-card">
          <p class="card-header">
            Sell on Amazon with 50% off on Selling fee
            <br />
            <span class="card-sub-text"><a href="">Register now</a></span>
          </p>
          <img
            src="./../../../assets/sell-on-amazon.jpg"
            alt="sell on amazon"
            class="sell-on-amazon"
          />
        </div>
        <div class="sub-card">
          <img src="./../../../assets/miniTV-show.jpg" alt="miniTv show" />
        </div>
      </div>
    </div>

    <div class="sale-section grid grid-4">
      <div class="card">
        <p class="card-header">Pick up where you left off</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
            <p>Fabutre Fleece Warm Bedsheet</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet2.jpg" alt="bedsheet" />
            <p>Maan Traders Woolen Bedsheet</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet3.jpg" alt="blanket" />
            <p>VA1179 Yetli Warm Blanket</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/bedsheet2.jpg" alt="blanket" />
            <p>Comfytouch Microfiber Blanket</p>
          </div>
        </div>
        <a href="">See more</a>
      </div>
      <div class="card">
        <p class="card-header">Keep shopping for</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/bedsheet.jpg" alt="bedsheet" />
            <p>Flat bed sheets</p>
            <p>3 viewed</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/waterbottle.jpg" alt="water bottle" />
            <p>Water bottles</p>
            <p>1 viewed</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/badminton.jpg"
              alt="badminton racquets"
            />
            <p>Badminton racquets</p>
            <p>2 viewed</p>
          </div>
          <div class="card-items">
            <img src="./../../../assets/backpacks.jpg" alt="backpacks" />
            <p>Backpacks</p>
            <p>5 viewed</p>
          </div>
        </div>
        <a href="">View your browsing history</a>
      </div>
      <div class="card">
        <p class="card-header">Home appliances | Up to 50% off</p>
        <div class="grid grid-2">
          <div class="card-items">
            <img src="./../../../assets/Appliances-ac.jpg" alt="appliances" />
            <p>Air conditioners</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-refrigerators.jpg"
              alt="appliances"
            />
            <p>Refrigerators</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-microwaves.jpg"
              alt="appliances"
            />
            <p>Microwaves</p>
          </div>
          <div class="card-items">
            <img
              src="./../../../assets/Appliances-washing-machine.jpg"
              alt="appliances"
            />
            <p>Washing machine</p>
          </div>
        </div>
        <a href="">See more</a>
      </div>
      <div class="card transparent">
        <div class="sub-card">
          <p class="card-header">
            Sell on Amazon with 50% off on Selling fee
            <br />
            <span class="card-sub-text"><a href="">Register now</a></span>
          </p>
          <img
            src="./../../../assets/sell-on-amazon.jpg"
            alt="sell on amazon"
            class="sell-on-amazon"
          />
        </div>
        <div class="sub-card">
          <img src="./../../../assets/miniTV-show.jpg" alt="miniTv show" />
        </div>
      </div>
    </div>

    <div class="card">
      <p style="font-size: 24px; font-weight: 500">
        Related to items you've viewed
        <span
          ><a href="" style="margin-left: 15px; bottom: unset; margin-top: 10px"
            >See more</a
          ></span
        >
      </p>
      <div class="items-container">
        <div class="card-items">
          <div class="img-bcg">
            <img src="./../../../assets/vivo_mobile.jpg" alt="vivo mobiles" />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img src="./../../../assets/iqoo_mobile.jpg" alt="1qoo mobiles" />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/samsung_mobile.jpg"
              alt="samsung mobile"
            />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img src="./../../../assets/desktop.jpg" alt="desktop computers" />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img src="./../../../assets/lava_mobile.jpg" alt="lava mobile" />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/home_essentials.jpeg"
              alt="home essentials"
            />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/VGuard_products.jpg"
              alt="V-Guard Products"
            />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/storage_devices.jpg"
              alt="storage devices"
            />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/digital_cams.jpg"
              alt="digital cameras"
            />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img src="./../../../assets/smart_bulbs.jpg" alt="smart bulbs" />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/amazon_kitchen_products.jpg"
              alt="amazon kitchen products"
            />
          </div>
        </div>
        <div class="card-items">
          <div class="img-bcg">
            <img
              src="./../../../assets/comp_accessories.jpg"
              alt="computer accessories"
            />
          </div>
        </div>

        <!-- controls -->
        <button class="control prev">
          <span class="arrow left"></span>
        </button>
        <button class="control next">
          <span class="arrow right"></span>
        </button>
      </div>
    </div>
  </div>
</main>
