<footer class="footer">
  <div class="back-section">Back to top</div>
  <section class="info-section">
    <div class="connect grid grid-4">
      <nav>
        <p class="connect-header">Get to Know Us</p>
        <ul class="footer-nav">
          <li><a class="connect-link" href="">About Us</a></li>
          <li><a class="connect-link" href="">Careers</a></li>
          <li><a class="connect-link" href="">Press Releases</a></li>
          <li><a class="connect-link" href="">Amazon Science</a></li>
        </ul>
      </nav>
      <nav>
        <p class="connect-header">Connect with Us</p>
        <ul class="footer-nav">
          <li><a class="connect-link" href="">Facebook</a></li>
          <li><a class="connect-link" href="">Twitter</a></li>
          <li><a class="connect-link" href="">Instagram</a></li>
        </ul>
      </nav>
      <nav>
        <p class="connect-header">Make Money with Us</p>
        <ul class="footer-nav">
          <li><a class="connect-link" href="">Sell on Amazon</a></li>
          <li>
            <a class="connect-link" href="">Sell under Amazon Accelerator</a>
          </li>
          <li>
            <a class="connect-link" href="">Protect and Build Your Brand</a>
          </li>
          <li><a class="connect-link" href="">Amazon Global Selling</a></li>
          <li><a class="connect-link" href="">Become an Affiliate</a></li>
          <li><a class="connect-link" href="">Fulfilment by Amazon</a></li>
          <li><a class="connect-link" href="">Advertise Your Products</a></li>
          <li><a class="connect-link" href="">Amazon Pay on Merchants</a></li>
        </ul>
      </nav>
      <nav>
        <p class="connect-header">Let Us Help You</p>
        <ul class="footer-nav">
          <li><a class="connect-link" href="">COVID-19 and Amazon</a></li>
          <li><a class="connect-link" href="">your Account</a></li>
          <li><a class="connect-link" href="">Returns Centre</a></li>
          <li><a class="connect-link" href="">100% Purchase Protcection</a></li>
          <li><a class="connect-link" href="">Amazon App Download</a></li>
          <li><a class="connect-link" href="">Amazon Assistant Download</a></li>
          <li><a class="connect-link" href="">Help</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <div class="lang-selector">
        <img src="./../../../assets/amazon-logo.svg" alt="Amazon logo" />
        <span class="lang-selector-dropdown">
          <img
            src="./../../../assets/globe.svg"
            alt="globe icon"
            class="globe-icon"
          />
          <p class="lang">English</p>
          <img
            src="./../../../assets/arrow-down.svg"
            alt=""
            class="arrow-down"
          />
        </span>
      </div>
      <div class="country-name">
        <nav>
          <ul class="country-nav">
            <li><a href="" class="country-name">Australia</a></li>
            <li><a href="" class="country-name">Brazil</a></li>
            <li><a href="" class="country-name">Canada</a></li>
            <li><a href="" class="country-name">China</a></li>
            <li><a href="" class="country-name">France</a></li>
            <li><a href="" class="country-name">Germany</a></li>
            <li><a href="" class="country-name">Italy</a></li>
            <li><a href="" class="country-name">Japan</a></li>
            <li><a href="" class="country-name">Mexico</a></li>
            <li><a href="" class="country-name">Netherlands</a></li>
            <li><a href="" class="country-name">Poland</a></li>
            <li><a href="" class="country-name">Singapore</a></li>
            <li><a href="" class="country-name">Spain</a></li>
            <li><a href="" class="country-name">Turkey</a></li>
            <li><a href="" class="country-name">United Arab Emirates</a></li>
            <li><a href="" class="country-name">United Kindom</a></li>
            <li><a href="" class="country-name">United States</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="additional-info">
    <div class="other-services grid grid-5">
      <div>
        <a href=""
          >AbeBooks<br />
          <span class="nav-line-2"
            >Books, art <br />
            & collectible</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >Amazon Web Services<br />
          <span class="nav-line-2"
            >Scalable Cloud<br />
            Coumputing Services</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >Audible<br />
          <span class="nav-line-2"
            >Download<br />
            Audio Books</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >DPReview<br />
          <span class="nav-line-2"
            >Digital<br />
            Photography</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >IMDb<br />
          <span class="nav-line-2"
            >Movies, TV<br />
            & Celebrities
          </span></a
        >
      </div>
      <div>
        <a href=""
          >ShopBop<br />
          <span class="nav-line-2"
            >Designer<br />
            Fashion</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >Amazon Business
          <br />
          <span class="nav-line-2"
            >Everything For<br />
            Your Business</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >Prime Now<br />
          <span class="nav-line-2"
            >2-Hour Delivery<br />
            on Everyday Items</span
          ></a
        >
      </div>
      <div>
        <a href=""
          >Amazon Prime Music<br />
          <span class="nav-line-2"
            >90 Million songs, ad-free<br />
            Over 15 million podcast episodes
          </span></a
        >
      </div>
    </div>
    <div class="terms other-services">
      <nav class="terms-nav">
        <a href="" class="terms-link">Conditons of Use & Sale</a>
        <a href="" class="terms-link">Privacy Notice</a>
        <a href="" class="terms-link">Intrest-Based ads</a>
      </nav>
      <p>&copy; 1996-2023, Amazon.com, Inc. or its afiliates</p>
    </div>
  </section>
</footer>
