<header class="header grid grid-3">
  <div class="nav-left">
    <div class="nav-logo">
      <a href="">
        <img
          src="./../../../assets/amazon-logo.svg"
          alt="Amazon Logo"
          class="logo"
        />
      </a>
    </div>
    <a class="greet">
      <img
        src="./../../../assets/drop-pin.svg"
        alt="location icon"
        class="loc-icon"
      />
      <div>
        <span class="nav-line-1 f-12">Deliver to Rajendra</span> <br />
        <span>Select your location</span>
      </div>
    </a>
  </div>
  <div class="nav-search">
    <div class="nav-search-scope">
      <select name="search-dropdown" id="search-dropdown">
        <option value="all">All</option>
      </select>
    </div>
    <input type="text" placeholder="Search Amazon.in" />
    <input
      type="image"
      src="./../../../assets/search.svg"
      alt="search icon"
      class="search-icon"
    />
  </div>
  <div class="nav-right">
    <a>
      <img
        src="./../../../assets/india.svg"
        alt="flag icon"
        class="flag-icon"
      />
      EN
      <img
        src="./../../../assets/arrow-down.svg"
        alt="dropdown icon"
        class="arrow-down"
      />
    </a>
    <a>
      <div>
        <span class="nav-line-1 f-12">Hello, Rajendra</span> <br />
        <span
          >Accounts & Lists
          <img
            src="./../../../assets/arrow-down.svg"
            alt="dropdown icon"
            class="arrow-down"
            style="display: inline-flex; margin-bottom: -4px"
          />
        </span>
      </div>
    </a>
    <a>
      <div>
        <span class="nav-line-1 f-12">Returns</span> <br />
        <span>& Orders </span>
      </div>
    </a>
    <a>
      <img src="./../../../assets/cart.svg" alt="cart icon" class="cart" />
      <span class="cart-items-count">0</span>
      <span class="cart-text">Cart</span>
    </a>
  </div>
</header>
